<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body" 
    *ngIf='book'>
        <div class="row mb-2">
          <div class="col-md-8">
            <img [src]='book.imageUrl'
                 [title]='book.bookName'
                 [style.width.px]='400'
                 [style.margin.px]='5'>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-md-2">Book Name</label>
          <div class="col-md-8">
            {{book.bookName}}
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-md-2">ISBN</label>
          <div class="col-md-8">
            {{book.ISBN}}
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-md-2">Price</label>
          <div class="col-md-8">
            {{ book.price | currency:'USD':'symbol':'1.2-2'}}
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-md-2">Description</label>
          <div class="col-md-8">
            {{book.description}}
          </div>
        </div>

        <div class="row mt-2"
        *ngIf='order'>
          <div class="col-md-5" style="border:1px solid rgba(7, 10, 7, 0.486); border-radius: 5px;">
              <form [formGroup]="orderform" (ngSubmit)="onSubmit()">
                  <div class="d-none">
                    <input type="text" class="form-control" value={{book.bookId}} formControlName="bookID" required>
                    <input type="text" class="form-control" value={{book.bookName}} formControlName="bookName" required>
                  </div>
                  <div class="form-group">
                      <label>Customer Name</label>
                      <input type="text" class="form-control" placeholder="Enter your name" formControlName="name" required>
                  </div>
                  <div class="form-group">
                      <label>Contact Number</label>
                      <input type="text" class="form-control"  placeholder="Enter your contact information" formControlName="contact" required>
                  </div>
                  <div class="form-group">
                      <label> Address</label>
                      <input type="text" class="form-control"  placeholder="Enter your shipping address" formControlName="address" required>
                  </div>
                  <div class="form-group mt-2 mb-2">
                      <button class="btn btn-primary btn-block" type="submit">Order</button>
                      <button class="btn btn-secondary ms-3" (click)="toggleOrder()">Cancel</button>
                  </div>
              </form>
          </div>
          </div>

        <div class="row mb-2"
        *ngIf='!order'>
          <div class="col-md-4">
            <button class="btn btn-primary me-3"
                    style="width:80px;"
                    (click)="toggleOrder()">
              Order
            </button>
            <button class="btn btn-outline-secondary me-3"
                    style="width:80px;"
                    type="button"
                    title="Back to the Book List"
                    [routerLink]="['/books']">
              Back
            </button>
          </div>
        </div>
    </div>
</div>
